html {
    box-sizing: border-box;
    touch-action: manipulation;
    background: orange;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background: rgb(34, 179, 195);
    background: linear-gradient(344deg, rgba(34, 179, 195, 1) 0%, rgba(253, 186, 45, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}